body{
    margin:0% 
}
footer {
    display: flex;
    flex-direction: row;
    background-color: #F4E1B4;
    align-items: center;
    justify-content: space-between;
    color: #3B82F6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;

}

.footer__container__order1 img {
    width: 30px;
    object-fit: contain;
    padding: 5px;
}

.footer__info__item {
    display: flex;

    a {
        text-decoration: none;
        color: #3B82F6;
        padding: 5px;
    }

    a:hover {
        color: rgb(132, 65, 6);
        transform: translateY(-5px);
    }
}

.footer__container__logos {

    max-width: 100%;

    img {
        width: 50px;
        object-fit: contain;
    }

    img:hover {
        transform: translateY(-5px);
    }

}

.footer__container__order2 {

    ul {
        padding: 0%;
    }

    li {
        list-style: none;

    }

    a {
        display: inline-block;
        text-decoration: none;
        color: #3B82F6;
        margin-bottom: 5px;
    }

    a:hover {
        color: rgb(132, 65, 6);
        transform: translateY(-5px);
    }
}

@media screen and (max-width :900px) {
    footer {
        flex-direction: column;
    }

    .footer__container__order1 h2 {
        text-align: center;

    }

    .footer__info__item {
        justify-content: center;

    }

    .footer__container__logos{
        display: flex;
        justify-content: center;
    }

    .footer__container__order2{
        text-align: center;
    }

    .footer__container__order3{
        text-align: center;
    }
}