body{
    margin:0% 
}
main {
    background-color: #D3D3D3;
    padding: 20px;
}

.main__container__html1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    h2 {
        color: #3B82F6;
    }

    p {
        color: #607D8B;
    }

    li {
        text-align: justify;
        color: #607D8B;
    }
}

.text__container__html {
    padding-left: 30px;
    padding-right: 30px;
}

.main__title__description__image__html {
    display: flex;

    img {
        width: 350px;
        object-fit: contain;
    }
}

.articles__container__html {
    display: flex;
}

.article__item__html {
    border: 3px solid #F4E1B4;
    border-radius: 30px;
    margin: 20px;
    width: 80%;

    li {
        margin: 10px;
    }
}

.article__item__html:hover {
    transform: translateY(-10px);
}

.main__container__html2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-color: #F4E1B4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #607D8B;

}

th,
td {
    padding: 12px 15px;
    border: 2px solid #F4E1B4;
}

th {
    background-color: #3B82F6;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0f7fa;
}

@media screen and (max-width: 900px) {
    .main__container__html {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .articles__container__html {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .main__title__description__image__html{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body{
       overflow-x: hidden; 
    }
}

figure {
    text-align: center;
    margin: 20px 0;
}

figcaption {
    margin-top: 8px;
    font-style: italic;
    color: #555;
    font-size: 0.9em;
}
