body{
    margin:0% 
}
main {
    background-color: #D3D3D3;
    padding: 20px;
}

.main__container__javascript{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    h2 {
        color: #3B82F6;
    }

    p {
        color: #607D8B;
    }

    li {
        text-align: justify;
        color: #607D8B;
    }

    code {
        color: #607D8B;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
    }
}

.text__container__javascript {
    padding-left: 30px;
    padding-right: 30px;
}

.main__title__description__image__javascript {
    display: flex;

    img {
        width: 250px;
        object-fit: contain;
    }
}

.articles__container__javascript {
    display: flex;
}

.article__item__javascript {
    border: 3px solid #F4E1B4;
    border-radius: 30px;
    margin: 20px;
    width: 80%;

    li {
        margin: 10px;
    }
}

.article__item__javascript:hover {
    transform: translateY(-10px);
}

.main__container__javascript {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .main__container__javascript {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .articles__container__javascript {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .main__title__description__image__javascript{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body{
       overflow-x: hidden; 
    }
}
